[Unit]
Description=ProxyX API Server
After=network.target

[Service]
ExecStart=/usr/local/bin/proxy-api
Restart=always
User=root
Environment=PROXYX_CONFIG=/etc/proxyx/proxy.yaml

[Install]
WantedBy=multi-user.target