apiVersion: proxyx.io/v1
kind: ProxyConfig

metadata:
  name: daeryuk-proxy
  namespace: default

spec:
  domain: localhost

  tls:
    certFile: /Users/otabektoshmukhammedov/localhost.pem
    keyFile:  /Users/otabektoshmukhammedov/localhost-key.pem


  rateLimit:
    requests: 1000
    windowSeconds: 1

  routes:
  
    - name: static-files
      path: /**
      type: Static
      static:
        root: /home/otabek/easy365

    - name: api-route
      path: /api/v1/**
      type: ReverseProxy
      reverseProxy:
        servers:
          - url: http://localhost:8080
          - url: http://localhost:8081

    - name: websocket-route
      path: /ws/**    
      type: Websocket
      websocket:
        url: ws://localhost:9000/ws
