apiVersion: proxyx.io/v1
kind: ProxyConfig

metadata:
  name: proxyx.online
  namespace: default

spec:
  domain: localhost

  tls:
    certFile: path/to/certs/server.crt
    keyFile:  path/to/certs/server.key

  rateLimit:
    requests: 1000
    windowSeconds: 1

  routes:
  
    - name: static-files
      path: /**
      type: Static
      static:
        root: /home/otabek/easy365

    - name: api-route
      path: /api/v1/**
      type: ReverseProxy
      reverseProxy:
        servers:
          - url: http://127.0.0.1:8080
          - url: http://127.0.0.1:8081

    - name: websocket-route
      path: /ws/**    
      type: Websocket
      websocket:
        url: ws://127.0.0.1:9000/ws
